---
Checks: '
        bugprone-*,
        clang-diagnostic-*,
        clang-analyzer-*,
        cppcoreguidelines-*
        google-*,
        -google-objc-*,
        misc-*,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        readability-*
        '
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
